<h1><%= @artist.name %></h1>

<table id="songlist">
<% @songs.each do |song| %>
<tr id="song<%= song.id %>" class="test" >
    <td id="artist<%= @artist.id %>" ><%= song.name %></td>
    <td><%= link_to "Edit", edit_artist_song_path(@artist.id, song) %></td>
    <td><%= link_to 'Delete', '#', id: "#{song.id}", class: "deletesong", data: { artistid: "#{song.artist_id}", songid: "#{song.id}" }  %> </td>
</tr>
<% end %>
</table>

<%= render 'songs/form', song: @song %>
